---
// フッター / Footer Section
const currentYear = new Date().getFullYear();
---

<footer class="footer">
	<div class="container">
		<div class="footer-content">
			<!-- サイト情報 / Site Info -->
			<div class="footer-section">
				<h4>@IKTAHANA</h4>
				<p>文字で心を編む</p>
				<!-- <div class="social-links">
					<a href="#" title="Twitter">𝕏</a>
					<a href="#" title="Weibo">微</a>
					<a href="#" title="Instagram">📷</a>
					<a href="#" title="メール">✉</a>
				</div> -->
			</div>

			<!-- ナビゲーション / Navigation Links -->
			<div class="footer-section">
				<!-- <h4>ナビゲーション</h4>
				<ul>
					<li><a href="#home">ホーム</a></li>
					<li><a href="#works">作品</a></li>
					<li><a href="#about">プロフィール</a></li>
					<li><a href="#contact">お問い合わせ</a></li>
				</ul> -->
			</div>

			<!-- 作品リンク / Works Links -->
			<div class="footer-section">
				<!-- <h4>作品</h4>
				<ul>
					<li><a href="#">月光の思考</a></li>
					<li><a href="#">詩のかけら</a></li>
					<li><a href="#">心の波紋</a></li>
				</ul> -->
			</div>

			<!-- その他 / Other Links -->
			<div class="footer-section">
				<!-- <h4>その他</h4>
				<ul>
					<li><a href="#">プライバシー</a></li>
					<li><a href="#">利用規約</a></li>
					<li><a href="#">サポート</a></li>
				</ul> -->
			</div>
		</div>

		<!-- フッター下部 / Footer Bottom -->
		<div class="footer-bottom">
			<p>&copy; {currentYear} iktahana. All Rights Reserved.</p>
		</div>
	</div>
</footer>
