---
// 導航欄組件
---

<header class="header">
	<div class="container">
		<div class="logo">
			<h1>iktahana</h1>
		</div>
	<!-- ナビゲーションメニュー / Navigation Menu -->
	<nav class="nav">
		<a href="#home" class="nav-link">ホーム</a>
		<a href="#works" class="nav-link">作品</a>
		<a href="#about" class="nav-link">プロフィール</a>
		<a href="#contact" class="nav-link">お問い合わせ</a>
		</nav>
	</div>
</header>
