---
import '../styles/global.css';
---

<!doctype html>
<html lang="zh-TW">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>iktahana - 作家ポートフォリオ</title>
		<!-- FontAwesome Icon Library / FontAwesome アイコンライブラリ -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" />
		<style is:global>
			@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Shippori+Mincho&display=swap');
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>
